{% extends 'layout/page.html.twig' %}

{% block title %}
    Conciertos
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <strong>CloseEvents</strong> - Conciertos
        </h1>
    </div>
{% endblock %}
