{% extends 'layout/page.html.twig' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <strong>CloseEvents</strong>, los eventos cercanos a ti
        </h1>

        {{ include('slot/homeCarousel.html.twig') }}
    </div>
{% endblock %}
