<div id="homeCarousel" class="carousel slide d-none d-sm-block" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('images/concierto1.jpg') }}" alt="Fiesta 1">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('images/concierto2.jpg') }}" alt="Fiesta 2">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('images/fiesta1.jpg') }}" alt="Concierto 1">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('images/fiesta2.jpg') }}" alt="Concierto 2">
        </div>
    </div>
</div>
