<footer class="footer container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="social-links">
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-github-square"></i>
				<i class="fab fa-linkedin"></i>
			</div>		
		</div>
	</div>
</footer>